<!DOCTYPE html>
<html lang="en">

{% extends "app_biblioteca/padre.html"%}
{% load static %}

{% block contenidoQueCambia%}

<body>
    <div align="center">
        <br>
        <h2>Agrega un nuevo libro</h2>
        <br>
        <form method="post">
            {% csrf_token %}  {# Protección CSRF de Django #}
            {{ miFormulario.as_table }}<!-- Renderiza los campos del formulario  -->
            <button type="submit">Enviar</button>
        </form>
        <br>
    </div>

</body>

{% endblock %}

</html>